* {
    box-sizing: border-box;
}

body { 
    background-color: tan;
    position: static;

}

#Header {
    background-color: #ffffff;
    padding: 50px;
    width: 1350px;
    height: 20px;
    margin-top: -12px;
    position: static;
    
}
    


#about { 
    background-color: #ffffff;
    font-family: "Georgia", Times, 'Times New Roman', serif;
    color: #777777;
    padding: 50px;
    width: 150px;
    height: 20px;
    position: relative;
    top: -250px;
    right: -780px;
}

#portfolio { 
    background-color: #ffffff;
    font-family: "Georgia", Times, 'Times New Roman', serif;
    color: #777777;
    padding: 50px;
    width: 150px;
    height: 20px;
    position: relative;
    top: -369px;
    right: -890px;

}

#contact { 
    background-color: #ffffff;
    font-family: "Georgia", Times, 'Times New Roman', serif;
    color: #777777;
    padding: 50px;
    width: 150px;
    height: 20px;
    position: relative;
    top: -486px;
    right: -1035px;

}

a:active {
    text-decoration: none;
    font-weight: bold;
    color: blue;
  }
  
  a:hover {
    font-style: italic;
  }

#me {
    background-color:#4aaaa5;
    font-size: 35px;
    font-weight: bold;
    color: #181414;
    height: 100px;
    width: 300px;
    padding: 25px;
    padding-left: 35px;
    margin-top: -10px;
    position: relative;
    top: -111px;
    left:200px;
}


#wrapper {
    background-color: #ffffff;
    margin-top: -90px;
    width: 960px;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
    left:200px;
    top: -350px; 
}

#aboutme {
    color: #4aaaa5;
    font-size: 28px;
    font-weight: bold;
    width: 160px; 
}

#hr {
    border-color:  #cccccc;
    border-width: 2px;  
}


.image {
    float:left;  
    padding: 20px;
    padding-left: 0px;
    margin-top: 10px;
    border: 20px;
    border-color: #dddddd;
    
}

.outer p {
    clear: both;
    font-size: 19px;
    font-family: 'Dokdo', 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    font-weight: bold;
    color: #777777;
    line-height: 30px;
}

.outer p:first-child {
    clear: none;
    font-size: 19px;
    font-family: 'Dokdo','Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    font-weight: bold;
    color: #777777;
    line-height: 30px;

}
.paragraph {clear: none;
    font-size: 19px;
    font-family: 'Dokdo', 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    font-weight: bold;
    color: #777777;
    line-height: 30px;

}

.footer {
    background-color:#666666;
    padding: 65px;
    padding-top: 10px;
    height: 20px;
    width: 1350px;
    bottom: -25px;
    border-top-style: solid;
    border-top-width: 8px; 
    border-color: #4aaaa5;
    position: sticky; 
}

.footer p {
     text-align: center;     
}


#textarea-wrapper {
    padding: 10px;
    background-color: #f4f4f4;
    width: 890px;
    
  }
  
  #textarea-wrapper textarea {
    min-height:190px;
    max-height:240px;
    width: 870px;
  }
  
  #textarea-wrapper textarea.vertical { 
    resize: vertical;
  }


  #input-wrapper {
    padding: 10px;
    background-color: #f4f4f4;
    width: 890px;
  }
  
  #input-wrapper input {
    min-height:20px;
    max-height:60px;
    width: 870px;
  }
  
  #input-wrapper textarea.horizontal { 
    resize: horizontal;
  }


button {
    color: red;
  }
  
  button:hover {
    color: green;
    font-weight: bold;
  }


